<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Stick&display=swap" rel="stylesheet">
    <style>
        /* Remove any existing background styles */
        body {
            background: none;
        }
    </style>
    <!-- Include Three.js and Vanta.js -->
    <script src="{% static 'js/three.r134.min.js' %}"></script>
    <script src="{% static 'js/vanta.net.min.js' %}"></script>
</head>
<body>
    <video autoplay muted loop preload="auto" id="background-video">
        <source src="{% static 'videos/background1.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>    

    <header class="header">
        <div class="top-bar">
            <a href="{% url 'startpage' %}" style="text-decoration: none; color: inherit;">
                <h1 style="font-family: 'Pixelify Sans', sans-serif; font-weight: 500;">Startup Crisis Management</h1>
            </a>
        </div>
        <div class="menu">
            <input type="checkbox" id="burger-toggle">
            <label for="burger-toggle" class="burger-container" aria-label="Toggle navigation menu">
                <div class="burger-line"></div>
                <div class="burger-line"></div>
                <div class="burger-line"></div>
            </label>
        </div>
    </header>

    <nav class="side-menu">
        <ul>
            <li style="--i: 1;"><a href="{% url 'startpage' %}">HOME</a></li>
            <li style="--i: 2;"><a href="{% url 'about' %}">ABOUT</a></li>
            <li style="--i: 4;"><a href="{% url 'contact' %}">CONTACT</a></li>
            <li style="--i: 5;"><a href="{% url 'settings' %}">SETTINGS</a></li>
        </ul>
    </nav>
    <main class="container page-transition">
        <h1>ABOUT US</h1>
        <h3 class="underline">Team Members:</h3>
        <ul>
            <li><a href="https://www.linkedin.com/in/varsha-mt-a1a387341/" target="_blank">Varsha M T</a></li>
            <li><a href="https://www.linkedin.com/in/gulshanth-kumar-s-gulshanth-kumar-s-206113320/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">Ghulshath</a></li>
            <li><a href="https://www.linkedin.com/in/harihara-sudhan-b27815341/" target="_blank">Hari Hara Sudhan B</a></li>
            <li><a href="https://www.linkedin.com/in/n-mohamed-athif-473096297/" target="_blank">Mohamed Athif N</a></li>
        </ul>
    </main>

    <!-- Include the background.js script -->
    <script src="{% static 'js/background.js' %}"></script>
    <script src="{% static 'js/startpage.js' %}"></script>
</body>
</html>
