<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Startup Crisis Management</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Stick&display=swap" rel="stylesheet">
</head>
<body>
    <video autoplay muted loop preload="auto" id="background-video">
        
        Your browser does not support the video tag.
    </video>    

    <header class="header">
        <div class="top-bar">
            <a href="{% url 'startpage' %}" style="text-decoration: none; color: inherit;">
                <h1 style="font-family: 'Pixelify Sans', sans-serif; font-weight: 500;">Startup Crisis Management</h1>
            </a>
        </div>
        <div class="menu">
            <input type="checkbox" id="burger-toggle">
            <label for="burger-toggle" class="burger-container" aria-label="Toggle navigation menu">
                <div class="burger-line"></div>
                <div class="burger-line"></div>
                <div class="burger-line"></div>
            </label>
        </div>
    </header>

    <nav class="side-menu">
        <ul>
            <li style="--i: 1;"><a href="{% url 'startpage' %}">HOME</a></li>
            <li style="--i: 2;"><a href="{% url 'about' %}">ABOUT</a></li>
            <li style="--i: 4;"><a href="{% url 'contact' %}">CONTACT</a></li>
            <li style="--i: 5;"><a href="{% url 'settings' %}">SETTINGS</a></li>
        </ul>
    </nav>

    <main class="container page-transition">
        <form>
            <input type="text" placeholder="Name (required)" required>
            <input type="text" placeholder="Return address (required)" required>
            <input type="text" placeholder="Topic (required)" required>
            <textarea placeholder="Subject (required)" required></textarea>
            <input type="submit" value="Send">
        </form>
    </main>
    

    <div class="overlay"></div>
    <script src="{% static 'js/startpage.js' %}"></script>
</body>
</html>