<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    <link rel="stylesheet" href="{% static 'css/loading.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="dot"></div>
        <span class="text">Loading</span>
    </div>
    <script>
        // Redirect after 10 seconds
        setTimeout(function() {
            window.location.href = "{% url 'startpage' %}"; // Change to the desired URL
        }, 10000);
    </script>
</body>
</html> 